<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Patinfly"
        tools:targetApi="31">

        <!-- 🔹 NUEVA pantalla de alquiler -->
        <activity
            android:name=".presentation.bikeRentDetail.BikeRentDetailActivity"
            android:exported="false"
            android:label="@string/title_activity_bike_rent_detail"
            android:theme="@style/Theme.Patinfly" />


        <activity
            android:name=".presentation.bikeDetails.BikeDetailActivity"
            android:exported="false"
            android:label="@string/title_activity_bike_detail"
            android:theme="@style/Theme.Patinfly" />

        <!-- SplashActivity como pantalla de inicio -->
        <activity
            android:name=".presentation.splash.SplashActivity"
            android:exported="true"
            android:label="@string/title_activity_splash"
            android:theme="@style/Theme.Patinfly">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- LoginActivity -->
        <activity
            android:name=".presentation.login.LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.Patinfly" />

        <!-- MainActivity -->
        <activity
            android:name=".presentation.main.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Patinfly" />
        <!-- BikeListActivity -->
        <activity
            android:name=".presentation.bikelist.BikeListActivity"
            android:exported="true"
            android:label="@string/title_activity_bike_list"
            android:theme="@style/Theme.Patinfly" />

        <!-- profile -->
        <activity
            android:name=".presentation.profile.ProfileActivity"
            android:exported="true"
            android:label="@string/profile_title"
            android:theme="@style/Theme.Patinfly" />

    </application>

</manifest>
